# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
.env

# IDE settings (PyCharm, VSCode, etc.)
.idea/
.vscode/

# Flask specific files
instance/
*.sqlite3

# Flask static and templates directories
static/
templates/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Log files
*.log

# Main project files to keep track of
!main.py
!server.py
!README.md
